{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<div class="container shadow"><br>
		<section class="featured-posts">
            <div class="card ">
                <div class="row">
                    <div class="col-md-5 wrapthumbnail">
                        <figure><img src="{{pr.img.url}}" alt=""/></figure>
                    </div>
                    <div class="col-md-7">
                        <div class="card-block">
                            <h2 class="card-title">{{pr.name}}</h2>
                            <i class="card-text"><b>{{pr.desc}}</b></i>
                            <div class="metafooter">
                                <div class="wrapfooter">
										<span class="author-meta">
											<span class="post-name"><strong>Price : </strong>{{pr.price}}</span><br/>
											<span class="post-name"><strong>Stock : </strong>{{pr.stock}}</span>
										</span><br><br>
                                    <a href="{% url 'add' pr.id %}" class="badge badge-warning"><h6>Add to Cart</h6></a><br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</div>
{% endblock%}