{% extends 'base.html'%}
{% load static %}
{% block content%}
<style>
	 .card 
	{
        transition: 0.5s;
        backface-visibility: hidden;
        transform: translateZ(0);
        width: auto;
        height: fit-content;
        border-radius: 1rem;
        text-align: center;
	}
	.card:hover 
	{
        box-shadow: 0 30px 70px #000;
        transform: scale3d(1.05, 1.05, 1.05);
	}
</style>

<br>
<nav class="navbar" style="float: left; margin-left: 20px;">
    <label style="font-weight: bolder;">Top Brands</label>&ensp; 
    {% for i in ct %}
    <a href={{i.get_url}} class="btn btn-outline-dark btn-sm" style="border-radius: 1rem;">{{i.name}}</a>&ensp;

    {% endfor %}
</nav><br><br>

<div class="container-fluid">
    <div class="card-deck">
        <div class="row">
            {% for  i in  pg.object_list  %}
            <div class="col-md-2"> 
                <div class="card">
                    <div class="card-body">
                        <a href="{{i.get_url}}">
                            <img src="{{i.img.url}}" style="width: 100%; height: 350px;border-radius: 1rem;"><br><br>
                        </a> 
                        <div>
                            <label style="font-weight: bolder; font-size: x-large;float: left;">
                                <a href="{{i.get_url}}" >{{i.name}}</a>
                            </label><br><br>
                        </div>
                        <label style="float: left;">Price : {{i.price}} ₹</label><br><br>
                        {% if i.stock < 15 %}
                            <label style="float: left;">Stock Left : <label style="color: red;">Only</label>&nbsp;{{i.stock}} <label style="color: red;">Hurryup.!</label>
                        </label><br><br>
                        {% else %}
                            <label style="float: left;">Stock Left : {{i.stock}}</label><br><br>
                        {% endif %}

                        <label style="float: left;">Discount : {{i.availible | yesno }}</label><br><br>

                        <a href="{% url 'add' i.id %}">
                        <button class="btn btn-warning btn-sm" style="float: left; border-radius: 1rem;">Add to cart</button>
                        </a>
                        <a href="{{i.get_url}}">
							<button class="btn btn-danger btn-sm" style="float: right;border-radius: 1rem;">View more details</button>
						</a>
                        
                    </div>
                </div><br>
            </div>
            {% endfor %}
        </div>  <br>          
    </div>
	<center>
		{% for p  in pg.paginator.page_range %}
		<a href="?page={{p}}" class="btn btn-light btn-sm {% if pg.number == p %} active {% endif %}">{{p}}</a>
		{% endfor %}
	</center>
    
</div>
{% endblock%}
