{% extends 'base.html' %}
{% block content %}
<style>
    .card 
	{
        align-items: center;
        transition: 0.5s;
        backface-visibility: hidden;
        margin-right: auto;
        margin-left: auto;
        width: 350px;
        height: 680px;
        box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
        border-radius: 1rem;
        backdrop-filter: blur(14px);
        background-color: rgba(255, 255, 255, 0.2);
        padding: 10px;
        text-align: center;
	}
	.card:hover 
	{
	box-shadow: 0 30px 70px #000;
	transform: scale3d(1.05, 1.05, 1.05);
	}
	
</style>
<br><br>
<div class="container">
    <div class="card shadow">
        <div class="card-title" style="text-align: center">
            <label style="font-size: xx-large; font-weight: bolder;margin-top: 10px;">Register</label> 
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <input type="text" class="form-control" name="fname" placeholder="First Name" required autocomplete="off"><br>
                <input type="text" class="form-control" name="lname" placeholder="Last Name" required autocomplete="off"><br>
                <input type="email" class="form-control" name="email" placeholder="email@gmail.com" required autocomplete="off"><br>
                <input type="text" class="form-control" name="uname" placeholder="Username" required autocomplete="off"><br>
                <input type="password" class="form-control" name="pwd" placeholder="Password" required autocomplete="off"><br>
                <input type="password" class="form-control" name="cpwd" placeholder="Confirm password" required autocomplete="off"><br>
                <div class="d-grid gap-2">
                    <input type="submit" class="btn btn-primary" value="Submit">
                </div>
            </form><br><hr>

            <div>
                <label>Already have an account?</label>
                <a href="{% url 'login' %}" style="font-style: italic; color: blue;">Login</a>
            </div>
            <div>
                {% for message in messages %}
                    <script>alert('{{message}}');</script>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}